src/utils/squish-pty.o
src/utils/squish-unix.o
src/utils/setitimer-helper.o
src/.vscode/settings.json
src/utils/setitimer-helper.o
src/utils/squish-pty.o
src/utils/squish-unix.o
src/examples/bubsort.o
src/examples/cmp.o
src/examples/cat.o
src/examples/halt.o

src/examples/lib/user/syscall.o
src/examples/libc.a
src/examples/lib/arithmetic.o
src/examples/lib/random.o
src/examples/lib/stdio.o
src/examples/lib/user/debug.o
src/examples/*.o
src/examples/lib/*.o
src/examples/lib/debug.o
src/examples/lib/ustar.o
src/examples/lib/user/entry.o
src/examples/lib/user/console.o
